@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@foreach (var item in Model.Employees)
{
    <div>
        <p>
            @item.EmployeeName<br>
            @item.EmployeeAge<br>
            @item.EmployeeSalary<br>
        </p>
    </div>
}